{% trans_default_domain 'FOSUserBundle' %}
<div class="row bg-white pt-3">
    <div class="col-lg-9">
        <div class="fos_user_user_show">
            <h2>
            Witaj: {{ user.username }}
                {% if user.imageName is not null %}
            <img class="avatar" src="{{ vich_uploader_asset(user, 'imageFile') }}">
                {% else %}
                    <img class="avatar" src="{{ asset('users/avatar/avatar.png') }}">
                {% endif %}
                <a href="{{ path('panel_user_avatar') }}" class="btn btn-primary">{{ 'user.profile.change_avatar'|trans({}, 'controller') }}</a>

            </h2>
        </div>
</div>
    <div class="col-lg-3 mt-1">
        <a href="{{ path('fos_user_change_password') }}" class="btn btn-primary">{{ 'user.profile.change_password'|trans({}, 'controller') }}</a>
    </div>
</div>
<div class="row mt-2 link bg-white text-center">
    <div class="col-lg-12 pt-3">
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6">
        <hr>
    </div>
    <div class="col-lg-3">
    </div>
</div>
    <div class="row link bg-white text-center">
        <div class="col-lg-12 pt-3">
            <p>{{ 'user.profile.your_path'|trans({}, 'controller') }}: <a href="{{ path('panel_user_maps') }}" class="btn btn-primary">{{ 'user.profile.show'|trans({}, 'controller') }}</a></p>
        </div>
    </div>