{% extends 'panel/panelLayout.html.twig' %}

{% block title %}
    {{ 'panel.menu.event_create'|trans({}, 'controller') }}
    {% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}

{% block panelContent %}
    {% include 'template/flashMsg.html.twig' %}
    <div class="row bg-white pt-3">
        <div class="col-lg-12 float-left">
            <h3>{{ 'panel.menu.event_create'|trans({}, 'controller') }}</h3>
        </div>
    </div>
    <div class="link bg-white">
        <div class="row mt-2">
            <div class="col-lg-12">
                <div class="form-group">
                    <div id="map" style="height: 400px">
                </div>
            </div>
        </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-12">
                {{ form_start(form) }}
                {{ form_row(form.title) }}
                {{ form_row(form.description) }}
                {{ form_row(form.eventDate) }}
                {{ form_row(form.endDateOfRegistration) }}
                {{ form_row(form.imageFile) }}
                {{ form_end(form) }}
                </div>
            </div>
        </div>
    <script>
        var marker1,
            marker2,
            directionsDisplay,
            directionsService,
            data = {};
        function initMap() {
            directionsDisplay = new google.maps.DirectionsRenderer;
            directionsService = new google.maps.DirectionsService;
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 6,
                center: {lat: 51.51054, lng: 19.201806},
                gestureHandling: 'greedy'
            });
            directionsDisplay = new google.maps.DirectionsRenderer({
                'draggable': true
            });
            directionsDisplay.setMap(map);

            if (!marker2) {
                map.addListener('click', function (e) {
                    var position = e.latLng;
                    addPoint(map, position, directionsService, directionsDisplay)
                })
            }
        }
        function addPoint(map, position, directionsService, directionsDisplay) {
            if (!marker1) {
                marker1 = new google.maps.Marker({
                    position: position,
                    map: map,
                    title: 'marker1',
                    draggable: true
                });
            } else if (!marker2) {
                marker2 = new google.maps.Marker({
                    position: position,
                    map: map,
                    title: 'marker2',
                    draggable: null
                });
                calculateRoute(directionsService, directionsDisplay);
            }
        }

        function calculateRoute(directionsService, directionsDisplay) {
                directionsService.route({
                    origin: marker1.getPosition(),
                    destination: marker2.getPosition(),
                    optimizeWaypoints: true,
                    travelMode: 'BICYCLING'
                }, function (response, status) {
                    if (status == 'OK') {
                        directionsDisplay.setDirections(response);
                    } else {
                        window.alert('Directions request failed due to ' + status);
                    }
                });
        }

        document.getElementById('create_event_send').addEventListener('click', save);

        function save() {
            var waypoint = {},
                wp;
            var rleg = directionsDisplay.directions.routes[0].legs[0];
            data.start = {'lat': rleg.start_location.lat(), 'lng': rleg.start_location.lng()};
            data.end = {'lat': rleg.end_location.lat(), 'lng': rleg.end_location.lng()}
            wp = rleg.via_waypoints;
            for (i = 0; i<wp.length;i++){
                waypoint[i] = {'lat': wp[i].lat(), 'lng': wp[i].lng()}
            }
            data.waypoints = waypoint;


            $('#create_event_start').val(JSON.stringify(data.start));
            $('#create_event_end').val(JSON.stringify(data.end));
            $('#create_event_waypoints').val(JSON.stringify(data.waypoints));


        }
    </script>

    {% if data is defined %}
    {{ data }}
        {% endif %}
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIttfn5Ev35d4l9w1UuF4bam8jHZzTXg0&callback=initMap">
    </script>

{% endblock %}