{% extends 'panel/panelLayout.html.twig' %}

{% block title %}
    {{ 'panel.event.verification.verification'|trans({}, 'controller') }}
{% endblock %}
{% block panelContent %}
    {% include 'template/flashMsg.html.twig' %}
<div class="row bg-white pt-3">
    <div class="col-lg-7 float-left">
        <h3>{{ contestant.event.title }}</h3>

    </div>
    <div class="col-lg-5 form-group">
        {{ 'panel.event.verification.verification'|trans({}, 'controller') }}

    </div>
</div>
<div class="link bg-white">
    <div class="row bg-white mt-2 pt-3 pb-3 text-center align-middle">
        <div class="col-lg-4">
            {{ 'panel.event.verification.your_name'|trans({}, 'controller') }}
            {{ contestant.user.firstName }} {{ contestant.user.surname }}
            {{ 'panel.event.verification.nick'|trans({}, 'controller') }}
            {{ contestant.user.username }}
        </div>
        <div class="col-lg-8">
        </div>
    </div>
</div>
{% endblock %}