
{% extends 'front/frontLayout.html.twig' %}
{% block title %}
    {{ 'front.title.index'|trans({}, 'controller') }}
{% endblock %}
{% block frontContent %}
    <div class="jumbotron">
        <div id="main" class="container text-center mt-4 text-light">
            <h1 class="display-3">{{ 'front.index.text_1'|trans({}, 'controller') }}</h1>
            <div class="lead">{{ 'front.index.text_2'|trans({}, 'controller') }}</div>
            <hr class="my-2">
            <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary"><span class="fas fa-user"></span>{{ 'front.index.login'|trans({}, 'controller') }}</a>
            <a href="{{ path('fos_user_registration_register') }}" class="btn btn-success"><span class="fas fa-user-plus"></span>{{ 'front.index.signup'|trans({}, 'controller') }}</a>
        </div>
    </div>
{% endblock %}