{% extends 'panel/panelLayout.html.twig' %}

{% block title %}
    {{ 'panel.maps.title.favorite'|trans({}, 'controller') }}
{% endblock %}

{% block panelContent %}
    {% include 'template/flashMsg.html.twig' %}
    <div class="row bg-white pt-3">
        <div class="col-lg-7 float-left">
            <h3>{{ 'panel.maps.title.favorite'|trans({}, 'controller') }}</h3>
        </div>
        <div class="col-lg-3 form-group">
        </div>
        <div class="col-lg-2 form-group">
        </div>
    </div>
    <div class="row mt-3 bg-white">
        <div class="col-lg-12 mt-2">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ 'panel.maps.name'|trans({}, 'controller') }}</th>
                    {#<th>Poziom trudności</th>#}
                    {#<th>Ocena</th>#}
                    <th>{{ 'panel.maps.author'|trans({}, 'controller') }}</th>
                    <th>{{ 'panel.maps.show'|trans({}, 'controller') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for map in paginator %}
                <tr>
                    <td>{{ map.name }}</td>
                    {#<th>Łatwy</th>#}
                    {#<td>5/5</td>#}
                    <td>{{ map.author.username }}</td>
                    <td><a href="{{ path('panel_show_map', {'id': map.id}) }}" class="btn btn-primary">{{ 'panel.maps.show'|trans({}, 'controller') }}</a> </td>
                </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {{ knp_pagination_render(paginator) }}
    </div>

{% endblock %}