{% extends 'admin/adminlLayout.html.twig' %}

{% block title %}
    {{ 'admin.title.posts'|trans({}, 'controller') }}
{% endblock %}

{% block panelContent %}
    {% include 'template/flashMsg.html.twig' %}
    <div class="row bg-white pt-3">
    {% if app.request.get('_route') == 'admin_post_create' %}
        <div class="col-lg-9 float-left">
            <h3>{{ 'admin.post.create'|trans({}, 'controller') }}</h3>
        </div>
        <div class="col-lg-3">
        </div>
        {% else %}
            <div class="col-lg-9 float-left">
                <h3>{{ 'admin.post.edit'|trans({}, 'controller') }}</h3>
            </div>
            <div class="col-lg-3">
                <a href="{{ path('admin_post_delete', {"slug": post.slug}) }}" class="btn btn-warning">{{ 'admin.delete'|trans({}, 'controller') }}</a>
            </div>
        {% endif %}
    </div>
    <div class="link bg-white">
        <div class="row text-center">
            <div class="col-lg-12">
    {% if app.request.get('_route') == 'admin_post_create' %}
                {{ form(form) }}
        {% else %}
            {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.category) }}
            {{ form_row(form.tag) }}
            {{ form_row(form.content) }}
            {{ form_row(form.file) }}
            {% if post.path is not null %}
            {{ 'admin.post.image'|trans({}, 'controller') }}
            <div class="post-form-image" style='background-image: url("{{ asset('posts/images/' ~ post.id ~ '.' ~ post.path) }}")'></div>
                {% else %}
                    {{ 'admin.post.noimage'|trans({}, 'controller') }}
                    {% endif %}
            {{ form_row(form.publishDate) }}
            {{ form_end(form) }}
            {% endif %}
                </div>
            </div>
        </div>

{% endblock %}